* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"].navbar {
  border: none;
  padding: inherit;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid black;
}

.row {
  width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-li {
  float: left;
  text-align: center;
}

.navbar-li:hover {
  background-color: #444;
}

.navbar-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

input[type=text] {
  padding: 8px 12px;
  margin: 8px 0;
}

input[type=password] {
  padding: 8px 12px;
  margin: 8px 0;
}
